    <nav>
    <div class="site-title">
    <h1>HM NOTE</h1>
    <p>Be more achiever</p>
    </div>
    <ul>
        <li><a href="/">Notes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/notes/create">New note</a></li>
    </ul>
    </nav>
