<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about-HM-note">
        <h4>HM NOTE: Your Ultimate Note-Taking Companion</h4>
        <ul>
        <h5>Key Features:</h5>
        <li>Simple and Intuitive Interface: NoteMaster's clean and user-friendly design ensures you can start taking notes without any hassle.</li>
        <li>Rich Text Editing: Format your notes with bold, italics, underlines, and bullet points to make them more readable and structured.</li>
        <li>Organizational Tools: Create notebooks and tags to categorize your notes, making it easy to find and manage your content.</li>
        <li>Sync Across Devices: Access your notes anytime, anywhere. NoteMaster syncs seamlessly across your smartphone, tablet, and computer.</li>
        <h5>and moreeee ...</h5>
        </ul>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>
